// Footers
footer.container-fluid
	.container.FooterHeadings
		.col-md-2 
			span PRODUCT OFFERING
		.col-md-2 
			span TREATIN
		.col-md-2 
			span ABOUT THE SITE
		.col-md-2 
			span PARTNER PROGRAMS
		.col-md-2 
			span MORE LINKS
		.col-md-2 
			span FOLLOW US
	.container
		.col-md-2
			ul
				each val in ['Find best hospitals / treatments', 'Find Healthcare Facilitator', 'Consult a doctor', 'Telemedicine solution', 'Find A Tourist Provider', 'Find Insurance Provider', 'Find a foreign exchange dealer', 'Mobile Apps']
					li!= '<a href="#">' + val + '</a>'
		.col-md-2
			ul
				each val in ['About US', 'Investor Relations', 'Testimonials', 'Careers', 'Social Responsibility', 'Healthcare community']
					li!= '<a href="#">' + val + '</a>'
		.col-md-2
			ul
				each val in ['FAQs', 'Sitemap', 'Complaints', 'Contact Us', 'Payment Security', 'Privacy Policy', 'User Agreement', 'Other Offices', 'Make A Payment']
					li!= '<a href="#">' + val + '</a>'
		.col-md-2
			ul
				each val in ['Are you a Healthcare Facilitator', 'Are you a Tourist operator', 'Are you a Translator', 'Are you a Insurance provider', 'Are you a foreign exchange dealer']
					li!= '<a href="#">' + val + '</a>'
		.col-md-2
			ul
				each val in ['Links to other health related sites']
					li!= '<a href="#">' + val + '</a>'
		.col-md-2
			.FooterLogo
				include logo

			address
				p VISTARA Healthcare
				span No:69, McNichols Road, Chetpet, Chennai - 600031. India

			address
				p ONE Healthcare
				span 1200 Smith St #1600, Houston, TX 77002, United States

			ul.social
				li
					a.fa.fa-facebook
				li
					a.fa.fa-twitter
				li
					a.fa.fa-google-plus
				li
					a.fa.fa-linkedin
				li
					a.fa.fa-pinterest

// End Footer
