mixin WheatherHome(Asnswer)
	- var Home = Asnswer
	if Home == "Yes"
		nav.navbar.navbar-default.navbar-fixed-top.animate.navbarAdd
			div.container
				div.navbar-header
					button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#")
						include logo
									
				div#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						//-each val in ['Language', 'My Account']
							//-li= '<a href="#">' + val + '</a>'
						li
							a
								i.pe-7s-speaker
								p Languages
						li
							a
								i.pe-7s-user
								p My Account
									b.caret
	else
		nav.navbar.navbar-default.navbar-fixed-top.animate.nav2
			div.container
				div.navbar-header
					button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#")
						include logo
									
				div#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						//-each val in ['Language', 'My Account']
							//-li= '<a href="#">' + val + '</a>'
						li
							a
								i.pe-7s-speaker
								p Languages
						li
							a
								i.pe-7s-user
								p My Account
									b.caret

mixin HowItWorks(icon, title, description)
	.col-md-2.col-xs-8
		span(class=icon)
		p= title
		p= description

mixin TopSpecialityList(image, division)
	.col-md-2.col-xs-6
		img.img-responsive(src=image)/
		.OverlayDiv
			p= division

mixin TopDestinationList(image, county)
	.col-md-2.col-xs-6
		img.img-responsive.img-thumbnail.center-block(src=image)/
		p= county

mixin SuportServicesList(image, heading, smallDesc, DetailedDesc)
	.col-md-3.col-xs-6
		.infoCard
			img(src=image)/
			.infoCardDetails.animate
				.infoCardHeader
					h5= heading
					p= smallDesc
				.infoCardDetail
					p= DetailedDesc

mixin GroupStar(counts, symbol)
	- var SmileyStar = symbol
	if SmileyStar == "Star"
		- for (var x = 0; x < counts; x++)
			i.glyphicon.glyphicon-star
	else
		- for (var x = 0; x < counts; x++)
			i.fa.fa-smile-o
